body {
  margin: 0;  
  padding: 0;
  font-family: arial,sans-serif;
  height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

li a {
  display: block;
  color: #5e6162;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li {
  float: right;
  }
  

li a:hover {
    text-decoration: underline;
  }
  
.search-box {
    margin: auto;
    width: 582px
}


 img {
    display:block;
    margin:auto;
    padding: 150px 0 20px;
    height: 90px;
}

.search-box input {
    height: 34px;
    width: 100%;
    border: 2px solid #605e5e29;
    border-radius: 24px;
    outline: none;
}
.btn-box {
    margin: 20px 120px;
}

.button {
    padding: 10px 24px;
    background-color: #f1f1f1;
    border: none;
    color: 5e6162;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

  }
  footer {
    background-color:#f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #5e6162;
    }
  
  footer .left-box li{
    float: left;  
  }

  footer .right-box li{
    float: right;  
  }

  