.container {
    width: 100vw;
    height: 100vh;
}

 img {
    display: block;
    margin: auto;
    padding: 150px 0 20px;
    height: 100px;
}

.search input {
    display: block;
    margin: auto;   
    height: 34px;
    width: 582px;
    border: 2px solid #605e5e29;
    border-radius: 24px;
    outline: none;
}

.btn {
    display: block;
    margin: auto;   
    width: 30%;
}

